*.xlsx
*.csv
dist/darwin-amd64/monthly-filler
dist/darwin-amd64/pdu-parser
dist/darwin-arm64/monthly-filler
dist/darwin-arm64/pdu-parser
dist/linux-amd64/monthly-filler
dist/linux-amd64/pdu-parser
dist/linux-arm64/monthly-filler
dist/linux-arm64/pdu-parser
dist/windows-amd64/monthly-filler.exe
dist/windows-amd64/pdu-parser.exe
dist/windows-arm64/monthly-filler.exe
dist/windows-arm64/pdu-parser.exe
bin/monthly-filler
bin/pdu-parser
